<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<h2>Registration Page</h2>

	<form class="form_horizontal" action="{{url_for('insertData')}}" method= "post">
	  <div class="contorl-label col-sm-5">
		<label for="usr">Name</label>
		<input type="text" class="form-contol" id='usr' name="name" required="required" placeholder="enter your name">
	  </div>
	  <div class="contorl-label col-sm-5">
		<label for="usr">surame</label>
		<input type="text" class="form-contol" id='usr' name="surname" required="required" placeholder="enter your surname">
	  </div>
	  <div class="contorl-label col-sm-5">
		<label for="usr">mobile</label>
		<input type="text" class="form-contol" id='usr' name="mobile" required="required" placeholder="enter your mobile">
	  </div>
	  <div class="contorl-label col-sm-5">
		<label for="usr">email</label>
		<input type="text" class="form-contol" id='usr' name="email" required="required" placeholder="enter your email">
	  </div>
	  <div class="contorl-label col-sm-5">
		<label for="usr">branch</label>
		<input type="text" class="form-contol" id='usr' name="branch" required="required" placeholder="enter your branch">
	  </div>
	  <div class="contorl-label col-sm-5">
		<label for="usr">role</label>
		<input type="text" class="form-contol" id='usr' name="role" required="required" placeholder="enter your role">
	    <br>
	    <button type="SUBMIT" class="btn btn-default" >SUBMIT</button>
	    <button type="button" class="btn btn-default" ><a href="{{url_for('showData')}}">CANCEL</a></button>
	  </div>
</form>
</div>
</body>
</html>